.heading--main,
.heading--sub {
  letter-spacing: -1px;
  line-height: 1.2;
}

.heading--main {
    font-size: var(--font-size--heading-1);
}

.heading--sub {
    font-size: var(--font-size--heading-2);
}

@media (max-width: 56.25em) {
  .heading--main {
    font-size: 3.6rem;
  }
  .heading--sub {
    font-size: 2.9rem;
  }
}

@media (max-width: 25em) {
  .heading--main {
    font-size: 3.2rem;
  }
  .heading--sub {
    font-size: 2.6rem;
  }
}
