
/* search */
#nav-search div div div input {
    color: #fff;
}

#nav-search div div div {
    background-color: #6c7cd3;
}

#nav-search div div label{
    color: #fff;
}

@media (min-width: 600px) {
    #nav-search {
        width: 300px;
    }
}