.main {
    background-color: var(--color-primary-grey--light-2);
    overflow: scroll;
    padding: 3rem;
}
.main::-webkit-scrollbar {
    display: none;
}

@media (max-width: 56.25em) {
    .main {
        grid-column: 1 / -1;
    }
}

