.statusText {
    padding: 2px 3px;
}

.statusText--success {
    background-color: var(--color-success--palette);
    color: var(--color-success);
}
.statusText--warning {
    background-color: var(--color-warning--palette);
    color: var(--color-warning);
}
.statusText--error {
    background-color: var(--color-error--palette);
    color: var(--color-error);
}
.statusText--primary-blue {
    background-color: var(--color-primary-blue--palette);
    color: var(--color-primary-blue);
}
.statusText--secondary-purple {
    background-color: var(--color-secondary-purple--palette);
    color: var(--color-secondary-purple);
}
.statusText--secondary-red {
    background-color: var(--color-secondary-red--palette);
    color: var(--color-secondary-red);
}
.statusText--default {
    background-color: var(--color-primary-grey--light-2);
    color: var(--color-primary-grey);
}
