.slide-img {
    width: 82px;
    height: 82px;
    padding: 0;
}

.slide-img:last-child{
    padding: 0;
}

.slide-img img {
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

@media (max-width: 500px) {
    .slide-img {
        width: 50px;
        height: 50px;
        padding: 0;
    }
}