.modal-submit-auth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-text-auth {
    max-width: 300px;
}

@media (max-width: 500px) {
    .modal-submit-auth {
        width: 90%;
        margin: 0 auto;
    }
}