.btn {
    font-size: 1.4rem;
    height: 4.4rem;
    width: fit-content;
    padding: 0 2rem;
    border-radius: 4px;
    cursor: pointer;
}

/* Btn options */
.btn-primary-blue {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
    border: none;
    transition: 0.3s ease-in;
}
.btn-primary-blue:hover, .btn-primary-blue:active {
    background-color: var(--color-primary-blue--shade);
}
.btn-primary-blue:disabled, .btn-primary-blue:disabled:hover {
    background-color: var(--color-primary-grey);
    cursor: not-allowed;
    opacity: 0.5;
}