.btn {
    height: 4.4rem;
    width: fit-content;
    padding: 0 2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in;
    border-radius: 4px;
}

/* Btn options */
.btn-primary-blue {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
}
.btn-primary-blue:hover, .btn-primary-blue:active {
    background-color: var(--color-primary-blue--shade);
}
.btn-primary-blue:disabled, .btn-primary-blue:disabled:hover {
    background-color: var(--color-primary-grey);
    cursor: not-allowed;
    opacity: 0.5;
}
.btn-primary-blue--outline {
    background-color: var(--color-white);
    color: var(--color-primary-blue);
    border: 1px solid var(--color-primary-blue);
}
.btn-primary-blue--outline:hover, .btn-primary-blue--outline:active {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
}

.btn-primary-grey {
    background-color: var(--color-primary-grey);
    color: var(--color-white);
}
.btn-primary-grey:hover, .btn-primary-grey:active {
    background-color: var(--color-primary-grey--medium);
}

.btn-secondary-purple {
    background-color: var(--color-secondary-purple);
    color: var(--color-white);
}
.btn-secondary-purple:hover, .btn-secondary-purple:active {
    background-color: var(--color-secondary-purple--shade);
}
.btn-secondary-red {
    background-color: var(--color-secondary-red);
    color: var(--color-white);
}
.btn-secondary-red:hover, .btn-secondary-red:active {
    background-color: var(--color-secondary-red--shade);
}

.btn-white {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary-grey);
}
.btn-white:hover, .btn-white:active {
    background-color: var(--color-primary-grey--light-1);
}

.btn--small {
    height: 3.4rem;
}