.sidebar__icon,
.sidebar__link {
  color: var(--color-primary-grey);
}
.sidebar__link,
.sidebar__icon,
.sidebar__item {
  transition: all 0.3s;
}

.sidebar {
  /* width: 25rem; */
  /* background-color: darkgoldenrod; */
  /* height: 100%; */
  position: relative;
  z-index: 10;
  overflow-y: scroll;

}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar__list {
  padding: 3rem 1rem;
  list-style: none;
}
.sidebar__item {
  padding: 0.8rem 2rem;
  border-radius: 4px;
}
.sidebar__item:hover,
.sidebar__item.active {
  background-color: var(--color-primary-blue);
}
.sidebar__item:hover .sidebar__link,
.sidebar__item:hover .sidebar__icon,
.sidebar__item.active .sidebar__link,
.sidebar__item.active .sidebar__icon {
  color: var(--color-white);
}
.sidebar__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.sidebar__line {
  border: 0.5px solid var(--color-primary-grey--light-2);
  background-color: var(--color-primary-grey--light-2);
  margin: 1rem 0;
}
.sidebar.open {
  left: 0;
}

.sidebar__header {
  display: none;
  padding-left: 3rem;
  height: 6.2rem;
}

@media (max-width: 56.25em) {
  .sidebar {
    width: 25rem;
    position: fixed;
    height: 100%;
    left: -100%;
    background-color: var(--color-white);
    transition: left 0.3s ease-in-out;
    /* overflow-y: scroll; */
    /* height: calc(100% - 6.2rem); */
    /* top: 6.2rem; */
  }
 
  .sidebar__header {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
