#paper {
    width: 500px;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}

.content-row {
    display: flex;
    width: 100%;
}

.content-row div {
    width: 50%;
    height: auto;
    /* overflow: hidden; */
}

.content-row p {
    /* line-height: 5px; */
    margin: 10px 0;
}

.content-row div:first-child p {
    font-weight: bold;
}

.tags-box {
    display: inline-block;
}

@media (max-width: 600px) {
    #paper {
        width: 350px;
    }
}


@media (max-width: 500px) {
    #paper {
        width: 250px;
    }
}
