.modal-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-submit-btn-group button {
    margin-right: 10px;
}


@media (max-width: 500px) {
    .modal-submit {
        width: 90%;
        margin: 0 auto;
    }
}