.modal-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-action-btn-group button {
    margin-right: 10px;
}

.modal-header {
    text-align: center;
}

@media (max-width: 500px) {
    .modal-action {
        width: 90%;
        margin: 0 auto;
    }
}