.table-tool-btn-action {
    display: flex;
}

.table-tool-btn-action button:first-child {
    margin-right: 10px;
}

.table-tool-btn-action button:last-child {
    margin-left: 10px;
}


.table-tool-modal-textarea {
    margin: 10px 0;
}